<utilsBarTag>
  
   
    <div class="column utilsBarTag _darkTheme z-depth-2"  >

        
       

    </div>
  
 <style type="text/css">

    div.col.utilsBarTag
    {
      padding: 0;
      margin: 0;
      /*background-color: #f9f9f9;*/
      border-bottom: solid 1px black;
    }
    .utilsBarTag
    {
      width:  calc(100% - (160px + 200px));
      height: 35px;
      position: absolute;
      top:  45px;
      left: 160px;

    }
   .darkTheme
   {
    background-color: #1a1a1a;
   }
   
 </style>

  <script>
       //On.mount !important for events and effects
       var self = this;
       this.on('mount', function() 
        {
           
           
            

        ////////////////////////////////////////////////////////




        });
 

  </script>

</utilsBarTag>